html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #d2e4eb;
  overflow-x: hidden;
}

.navbar-light {
  background-color: ghostwhite;
}

.navbar-brand{
  font-weight: 800;
  font-size: 28px;
  line-height: 1;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-brand img{
  height: 28px;
  width: auto;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 500;
  position: relative;
  text-align: right;
}

ul.navbar-nav {
  margin-left: auto;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
  font-weight: 700;
}


.nav-link.disabled {
  color: #6c757d;
  cursor: default;
}


.navbar-light .navbar-nav .nav-link:hover {
  color: whitesmoke;
}

@media(max-width: 992px) {
  .nav-link {
    text-align: center;
  }

  .navbar-nav .nav-link:hover {
    border-bottom-style: solid;
    color: white;

  }

}

@media(min-width:993px) {

  /* Top and Bottom borders go out */
  .topBotomBordersOut a:before,
  .topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: white;
    content: "";
    opacity: 0;
    transition: all 0.3s;

  }

  .topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);

  }

  .topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
  }

  .topBotomBordersOut a:hover:before,
  .topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);

  }
}

.carousel-item img {
  margin-top: 2vh;
  left: 0;
  height: 98vh;
}

.carousel-item::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.carousel-caption {
  top: 40vh;
}

.carousel-heading {
  text-transform: uppercase;
}

.btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #000000;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.btn-white:hover {
  background: transparent;
  text-decoration: none;
  color: white;
}

#about {
  width: 100vw;
  padding-top: 5vh;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #d2e4eb;
}

div.intro {
  padding: 1rem 2rem;
  text-align: justify;
}

#about h1 {
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 0.5em;
}

.testi-image {
  height: auto !important;
  width: 100% !important;
  border-radius: 50%;
  padding: 0px 20px 20px 20px;
  margin-top: 20px;
  align-self: center;
}

#testimonial h1 {
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 0.5em;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-box {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;
}

.testimonial {
  text-align: justify;
  padding: 20px;
  font-weight: 400;
  color: white;
  font-style: italic;
}

.overview {
  padding: 5px 20px;
  text-align: right;
}

.fa-angle-right,
.fa-angle-left {
  color: #000000 !important;
}

.carousel-control-next,
.carousel-control-prev {
  color: #000000 !important;
}

.card {
  padding: 5px;
  border-radius: 10px;
  border: #041025 solid 2px;
  background-image: linear-gradient(to top left, rgb(39, 71, 114), rgb(67, 141, 170), rgb(76, 200, 216));
  background-size: cover;
}

.wrapper {
  width: 100%;
}

.contact-wrap {
  background: #fff;
  border-radius: 0px 10px 10px 0px;
}

.info-wrap {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(39, 71, 114);
  border-radius: 10px 0px 0px 10px;
}

.info-wrap h3 {
  color: #fff;
}

.info-wrap .dbox {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
}

.info-wrap .dbox:last-child {
  margin-bottom: 0;
}

.info-wrap .dbox p {
  margin-bottom: 0;
}

.info-wrap .dbox p span {
  font-weight: 500;
  color: #fff;
}

.info-wrap .dbox p a {
  color: #fff;
}

.info-wrap .dbox .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.info-wrap .dbox .icon span {
  font-size: 20px;
  color: #fff;
}

.info-wrap .dbox .text {
  width: calc(100% - 50px);
}

#contact{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

@media(max-width: 768px){
  a.navbar-brand {
    font-size: 18px;
  }
      }
@media(max-width: 330px){
  a.navbar-brand {
    font-size: 16px;
  }
      }
